

h1 {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); -webkit-background-clip: text;
  color: transparent;
  justify-items: center;
  text-align: center;
  width: auto;
}

.information {
  background-image: url(./robin-ooode-MfhETsgQM6A-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 50em;
}

header {
  background-image: url(./yoav-hornung-_FlNNNDezuw-unsplash.jpg);
  background-size: 90em;
  background-repeat: no-repeat;
  height: 40em;
  /* width: 100em; */
  background-position: center;
}

.information:hover {
  box-shadow: yellow 3em 3em;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}


